.label {
  display: inline-block;
  padding: 0;
  text-align: left;
  font-family: 'metabold_roman', arial;
  background-color: #fff;
  user-select: none;
  background-color: #fff;
}
.labelGrey {
  color: #c6c6c6;
}
.labelBlack {
  color: #000;
}
.labelBlue {
  color: #00f;
}
.labelWhite {
  color: #fff;
}
.labelTiny {
  font-size: 8px;
}
.labelSmall {
  font-size: 14px;
}
.labelMedium {
  font-size: 16px;
}
.labelLarge {
  font-size: 30px;
}
