@import '../../../../theming/config.scss';

.label {
    display: inline-block;
    padding: 0;
    text-align: left;
    font-family: $font-family-primary;
    background-color: $color-white;
    user-select: none;

    &Grey {
        color: $color-grey;
    }

    &Black {
        color: $color-black;
    }

    &Blue {
        color: $color-blue;
    }

    &Tiny {
        font-size: $font-size-tiny;
    }

    &Small {
        font-size: $font-size-small;
    }

    &Medium {
        font-size: $font-size-medium;
    }

    &Large {
        font-size: $font-size-large;
    }

}
