.projectCaseClient {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.projectCaseTitle {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: rgba(52, 58, 64, 1);
  width: 0.11px;
  height: 0.22px;
}
