.button {
	min-width: 160px;
	min-height: 30px;
	border-radius: 5px;
}
.buttonPrimary {
	color: #fff;
	background-color: #00f;
}
.buttonSecondary {
	color: #fff;
	background-color: #f00;
}
.buttonTertiary {
	color: #000;
	background-color: #ff0;
}
