.p {
	color: black;
	padding: 1rem;
}

.logo {
	margin-bottom: 1rem;
}

.bgWhite90 {
	background-color: rgba(255, 255, 255, 0.9);
}

.backgroundVideoWrapper {
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
}

.fullVideo {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
