.h2 {
	text-align: center;
	color: white;
}

.p {
	color: white;
}

.section {
	background-color: #4b4b4b;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 1rem 0;
}
