.sectionBackgroundVideo {
	position: relative;
	background-color: transparent !important;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.fullVideo {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
