@import '../../../theming/config.module';

.section {
  height: 100vh;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: center;
  background-color: rgba(20, 23, 25, .7);

  .imageFullscreen {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .sectionTitle {
    color: white;
    font-weight: bold;
  }

  .subscribe {
    text-align: center;

    .subscribeButton:hover {
      background-color: #7b1fa2;
      color: white;
    }
  }

  .carouselWrap {
    padding: 2rem;

    .card {
      height: 300px;
      width: 250px;
      margin: 0 auto;
      transition: all .2s ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }
  
      .cardMedia {
        width: 100%;
        height: 120px;
      }

      .publishedAt {
        color: #bbb;
        margin-top: 5px;
      }
    }
  }
}

// dialog
.videoFrame {
  border: 0;
  width: 100%;
}

.dialogDescription {
  padding-top: 2rem;
}

.publishedText {
  padding-top: 2rem;
  color: #bbb;
}
