.tweet {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #c6c6c6;
	border-width: 1px;
	margin: 3px;
}
.tweetHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}
.tweetHeader svg {
	cursor: pointer;
}
.tweetBody {
	padding: 5px;
}
.tweetFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}
.tweetFooter svg {
	cursor: pointer;
}
