@import '../../../../theming/config.scss';

.tweet {
	display: flex;
	flex-direction: column;

	border-style: solid;
	border-color: $color-grey;
	border-width: 1px;

	margin: 3px;

	&Header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px;

    svg {
      cursor: pointer;
    }
	}

	&Body {
		padding: 5px;
	}

	&Footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px;

    svg {
      cursor: pointer;
    }
	}
}
