/*.section {
	background-color: white;
	background-color: #1158a0;
}*/
.h2 {
	text-align: center;
}

.projectCaseClient {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-weight: 900;
}

.projectCaseBrief {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	line-height: 2.5;
	background-color: rgba(52, 58, 64, 1);
}
