@import '../../../../theming/config.scss';

.button {
	min-width: 160px;
	min-height: 30px;

	border-radius: 5px;

	&Primary {
		color: $color-white;
		background-color: $color-blue;
	}

	&Secondary {
		color: $color-white;
		background-color: $color-red;
	}

	&Tertiary {
		color: $color-black;
		background-color: $color-yellow;
	}
}
