body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(
		to bottom,
		#000e1f 0%,
		#003264 20%,
		#0057ae 40%,
		#3988ce 60%,
		#8fc3ea 80%,
		#8fc3ea 100%
	);
	background-size: 1px 500vh;
	transition: background-position 1s;
}

@font-face {
	font-family: Conduit;
	src: url('/fonts/ConduitITCStd.otf') format('opentype'),
		url('/fonts/ConduitITCStd.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: Conduit;
	src: url('/fonts/ConduitITCStd-Bold.otf') format('opentype'),
		url('/fonts/ConduitITCStd-Bold.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: Conduit;
	src: url('/fonts/ConduitITCStd-Italic.otf') format('opentype'),
		url('/fonts/ConduitITCStd-Italic.woff') format('woff');
	font-style: italic;
}

@font-face {
	font-family: Conduit;
	src: url('/fonts/ConduitITCStd-BoldItalic.otf') format('opentype'),
		url('/fonts/ConduitITCStd-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
