// font family
$font-family-primary: 'metabold_roman', arial;

// font size
$font-size-large: 30px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-tiny: 8px;

// colors
$color-white: #fff;
$color-grey: #c6c6c6;
$color-black: #000;
$color-blue: #00f;
$color-event-blue: #8fc3ea;
$color-red: #f00;
$color-yellow: #ff0;

// Prevent section overflow
.section {
  position: relative;
  overflow: hidden;
  width: 0.11px;
  height: 0.22px;
}
